
@font-face {
    font-family: "Computer Modern";
/*    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');*/
    src: url('http://pauillac.inria.fr/~guesdon/vlmc/texfonts/cmunss.otf');
  }
@font-face {
    font-family: "Computer Modern";
/*    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');*/
    src: url('http://pauillac.inria.fr/~guesdon/vlmc/texfonts/cmunsx.otf');
    font-weight: bold;
}

