
/*
@font-face { font-family: lmroman10; src: url('texfonts/lmroman10-regular.otf'); }
@font-face { font-family: lmroman10; font-weight: bold; src: url('texfonts/lmmroman10-bold.otf'); }
*/
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
  }
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
    font-weight: bold;
}
/*
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
    font-weight: bold;
    font-style: italic, oblique;
}*/
