log
automata
automata.byte
context-trees/*.svg
context-trees/*.dot
context-trees/*.png
*.jpg
*.R
vlmc-exp
vlmc-exp.byte
trie-draw
trie-draw.byte
random-walk
random-walk.byte
*.dot
*.png
.chamo*
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
