<main_>
<em><bib-entry-journal/></em
><if bib-entry-volume=""><main_/><span>, <bib-entry-volume/></span></if
><if bib-entry-number=""><main_/><span>(<bib-entry-number/>)</span></if
><if bib-entry-pages=""><main_/><span>:<bib-entry-pages/></span></if
><if bib-entry-year=""><main_/><span>, <bib-entry-year/></span></if
>.</main_>