<div itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting" class="elt-item">
<div class="elt-item-title">
<link itemprop="url" href="&lt;elt-url/&gt;"/>
<a href="&lt;elt-url/&gt;"><span itemprop="name"><elt-title/></span></a>
</div>
<div class="date"><elt-date/></div>
<div itemprop="headline" class="elt-intro"><elt-intro/></div>
</div>