<ul>

<li> <a href="http://www.implications-philosophiques.org/actualite/une/levolution-des-marginalia-de-lecture-du-papier-a-lecran/#_ftn1">L’évolution des marginalia de lecture...</a>
</li>
<li><a href="http://www.implications-philosophiques.org/actualite/une/lamateur-aux-risques-des-pratiques-culturelles-en-reseaux/">L’amateur au(x) risque(s) des pratiques...</a>
</li>
<li><a href="http://traverses.blogs.liberation.fr/yves_michaud/2012/02/sur-gilbert-simondon-1924-1989.html">Sur Gilbert Simondon...</a></li>

<li><a href="http://alaingiffard.blogs.com/culture/2011/11/a-propos-du-livre-de-nicholas-carr.html">A propos du livre de Nicholas Carr</a></li>
</ul>
<if all="true">
<ul>
<li><a href="http://sens-public.org/spip.php?article912">
Voir l’invisible : Gygès et la pornographie Facebook</a></li>
<li><a href="http://www.ethnographiques.org/2011/Licoppe,Cudicio,Proulx">
"Présence connectée" au travail : les usages de la messagerie instantanée, le genre des "questions rapides" et l’économie morale de la "contribution</a>
</li>
</ul>
<span/>
</if>

