<html>
<head>
<title><site-title/> : <doc-title/></title><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="&lt;site-url/&gt;/style.css"></link>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<link href="/favicon.png" rel="shortcut icon" type="image/png" />
</head><body>
<include file="topbar.tmpl"/>
<div id="page">
<div id="header">
<div id="site-title"><a href="&lt;site-url/&gt;/index.html"><site-title/></a></div>
<div class="site-desc"><site-description/></div>
</div>
<!--<aside><include file="sidebar.tmpl"/></aside>-->
<if doc-type="post"><div class="date"><doc-date/></div></if>
<if pubdate=""><main_/><div class="date"><pubdate/></div></if>
<if doc-title="&lt;site-title/&gt;"><span> </span><h1><doc-title/></h1></if>
<div id="doc-body"><doc-body/></div>
<if doc-type="post"><div class="comments">
<div>
<div class="doc-keywords">
  <div class="bloc-keywords">
  Thèmes: <div class="keywords"><doc-topics ep=", "/></div>
  </div>
  <div class="bloc-keywords">
  Mots-clés: <div class="keywords"><doc-keywords sep=", "/></div>
  </div>
</div>
</div>
<div itemprop="articleSection" class="section">
  <comments/>
</div>
</div>
</if>
</div>

<footer id="bottombar">
</footer>
</body>
<script type="text/javascript" src="&lt;site-url/&gt;/jquery.js">_</script>
<script type="text/javascript" src="&lt;site-url/&gt;/bootstrap-collapse.js">_</script>
</html>
