<div class="search">
<form method="get" action="http://www.google.com/search" >
<input type="submit" value="Search:" class="button" /><br/>
<input type="search"  name="q" maxlength="255" value="" class="search-text"/>
<input type="hidden"  name="sitesearch" value="&lt;site-url/&gt;" />
</form>
</div>