html { margin: 0 ; padding: 0 ; height: 100% ; }
body {
  font: normal normal 14px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
/*  font-family: sans-serif ;
  font-size: 1em;*/
  background: url(gradient.png); background-repeat: repeat-x;
  background-color: #c2e4f1 ;
  height: 100%;
  margin: 0 ;
  padding: 0 ;

}

div#topbar {
/*  height: 30 px ;
  background-color: black ;
*/
  color : white ;
  width: 100%;
}

footer#bottombar {
  position: fixed ;
  bottom: 0px;
/*  height: 30px;*/
  width: 100%;
  }


div#page {
  background-color: white;
  color: #666666 ;
  width: 760px;
  margin-left: auto ;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  line-height: 1.4;
  /*
    border-width: 0 5px 0 5px ;
    border-color: #DDDDDD;
  */
  border-width: 0 ;
  border-style: solid ;
  /* border-width: 0 3px 0 0 ;
     border-color: rgba(50%, 0%, 0%, 10%) ;
  */
  min-height: 100%;
  margin-bottom: -1em;;
  /*padding-bottom: 30px; ;*/
}


div#header {
  padding-bottom: 1em;
}

div#leftpane {

}
div#rightpane {

}

nav.navbar {
  width: 100%;
  border-width: 0 0 1px 0;
  border-style: solid ;
  border-color: #DDDDDD ;
  padding-bottom: 0.5em;
  text-align: justify;
  overlfow: auto;
  height: 20px;
  }

div.navleft {
  position: relative;
  float: left;
  background-image: url('left.png') ;
  background-repeat: no-repeat;
  background-position:left top;
  padding-left: 18px;
}

div.navright {
  position: relative;
  float: right;
  text-align: right ;
  background-image: url('right.png') ;
  background-repeat: no-repeat;
  background-position:right top;
  padding-right: 18px;
    }

a:link {
  text-decoration:underline;
  color: #2288bb;
}
a:visited {
  text-decoration:none;
  color: #666666;
}
a:hover {
  /*text-decoration:underline;*/
  color: #33aaff;
}

div#blogtitle {
  text-align: center;
  font-size: 22pt;
}
div#blogtitle a {
  text-decoration: none ;
  border-width: 0 ;
  }

div.center {
  text-align: center ;
}

div#articlebody {
  text-align: justify;
  margin-bottom: 2em;
  margin-right: 190px;
}

article#article {
/*
  margin-left: 1em;
  margin-right: 1em;
*/
}

h1 { font-size: 16pt;
  color: #555555 ;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  }

section.section {
  font-size: 14pt;
  margin-bottom: 1em;
  margin-top: 1.5em;
}

section.subsection {
  font-size: 11pt ;
  font-weight: bold;
  margin-bottom: -0.8em;
  }

div.date {
  font-style: italic ;
  color: #555555;
  font-size: 90%;
}

div.blogdesc {
  font-style: italic ;
  text-align: center ;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 2em ;
  padding-right: 2em ;
  padding-bottom: 1em;
  border-width: 0 0 1px 0 ;
  border-color: #DDDDDD ;
  border-style: solid ;
}

div.blogbody {

}

div.article_item {
  margin-bottom: 1em;
/*
  border-width: 0 0 0 2px ;
  border-style: solid ;
  border-color: #550000;
*/
}
/*div.article_item:hover { background-color: #CCCCCC ; }*/

div.article_item_title { font-size: 150% ; }
div.article_item p {
  display: inline ;
  }
div.article_intro { margin-top: 4px }

img.img { border-width: 0 ; margin-bottom: 1em;}
div.img { text-align: center ; }
a img { border-width: 0 }
div.img-float-left {
  position: relative ;
  float: left ;
  margin-right: 1em;
  }
div.img-float-right {
  position: relative ;
  float: right ;
  margin-left: 1em ;
  }

span.unknown-ref { color: #AAAAAA ; }

div.bloc_keywords {
/*  font-size: 80% ;*/
/*
  margin-top: 1em;
  border-width: 1px 0 0 1px;
  border-style: solid ;
  border-color: #DDDDDD ;
*/
  padding: 4px;
  color: #555555 ;
  margin-left: 1em;

}
div.keywords {
  font-style: italic ;
  display: inline ;
}

div#archives {
  /*width: 150px;*/
  /*float: right ;*/
  border-width: 1px ;
  border-style: solid ;
  border-color: #DDDDDD;
  padding: 0.5em;
  /*margin-left: 1em;*/
  margin-bottom: 1em;
  background-color: white;
}

div#graph {
  /*width: 150px;*/
  /*float: right ;*/
  border-width: 1px ;
  border-style: solid ;
  border-color: #DDDDDD;
  padding: 0.5em;
  /*margin-left: 1em;*/
  margin-bottom: 1em;
  background-color: white;
}

div#archives ul {
  padding-left: 1em;
}

div.photo-legend {
  margin-bottom: 0.8em;
  text-align: center ;

}
div.legend {
  margin-top: 1px;
  text-align: center;
  font-style: italic ; font-size: 80% ;
  margin-bottom: 1.5em;
  }

pre.code-ocaml {
  border-width: 0 0 0 2px;
  border-style: solid;
  border-color: #BBBBBB;
  padding-left: 0.7em;
  background-color: #efefef;
  padding-top: 2px;
  padding-bottom: 2px;
}

div.quote {
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em ;
  font-style: italic ;
  color: #777777;
  }

div.subcomments {
  margin-left: 3em ;
}

div.comment-info {
  padding-left: 0.5em;
  padding-top: 0.3em;
  font-weight: bold;
  background-color: #EEEEEE ;
  }

div.comment-actions {
  position: relative ;
  float: right ;
  }
div.root-comment-actions {
  position: relative ;
/*  float: left ;*/
  display: inline ;
  }
div.comment {
  font-family: arial ;
  font-size: 9pt;
  border-style: dashed solid solid solid ;
  border-width: 1px 0 0 2px ;
  border-color: #555555;
}

div.comment-subject {
  /*font-weight: bold ;*/
  color: green ;
}

div.comment-date {
}

pre.comment-body {
  white-space: pre-line ;
  padding-left: 0.5em;
  padding-top: 0.3em;
  margin-bottom: 0;
}

div.comment-expand {
  display: none ;
}

div.comment-citation {
  white-space: pre-line ;
  background-color: #EEE ;
  font-style: italic;
}

div.rss-button {
  position: relative;
  float: right;
}

div.search {
  font-size: 10pt ;
  margin-bottom: 1em;
}

input.button {
  border-width: 0;
  color: #2288bb;
  text-decoration: underline;
  background-color: transparent ;
  margin-bottom: 3px;
  margin-left: 0;
  padding-left: 0;
  }
input.search-text {
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  background-color: #d2f4f1;
  color: #555555;
}
div.search {
  border-width: 1px ;
  border-style: solid ;
  border-color: #DDDDDD;
  padding: 0.5em;
  margin-bottom: 1em;
  background-color: white;
}
div.sidebar {
  position: relative ;
  float: right ;
  width: 150px;
  margin-left: 1em;
  }

span.striked {
  text-decoration: line-through ;
  }

body.hl { background-color:#efefef; }
pre.hl  { color:#000000; background-color:#efefef; font-size:10pt; font-family:'Courier New';}
.hl.num { color:#000000; }
.hl.esc { color:#bd8d8b; }
.hl.str { color:#bd8d8b; }
.hl.pps { color:#bd8d8b; }
.hl.slc { color:#ac2020; font-style:italic; }
.hl.com { color:#ac2020; font-style:italic; }
.hl.ppc { color:#000000; }
.hl.opt { color:#232323; }
.hl.lin { color:#555555; }
.hl.kwa { color:#9c20ee; font-weight:bold; }
.hl.kwb { color:#208920; }
.hl.kwc { color:#0000ff; font-weight:bold; }
.hl.kwd { color:#ddbb00; font-weight:bold; }

@media print {
div.sidebar {
  display: none ;
  position: normal;
  }
div#page {
  /*width: 100% ;*/
  }
nav.navbar {
  display: none
  }
div#articlebody {
  margin-right: 0 ;
  }
}